:root {
	--primary: #1677FF;
	--primary-hover: #126ee3;
	--primary-light: #EAF3FF;
	--gray: #667085;
	--gray-primary: #F7F9FB;
	--border: #E4E7EC;
	--text: #172033;

	--avatar-blue: #8ba3ff;
	--avatar-green: #16ba8a;
	--avatar-orange: #e08352;
	--avatar--purple: #ab79e6;
	--avatar-light-blue: #3d92e6;
	--avatar-yellow: #d8a032;
	--avatar-rose: #e67083;
}

